/*body style */
body {
  padding: 0;
  margin: 0;
}

/*headline */
h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 0.65;
}

/*main block on page */
#mainContainer {
  max-width: 1280px;
  padding: 0;
}

/*each separate block with content */
div#mainContainer div.contentBlock div.contentBlockIn {
  padding: 50px 35px;
}

/*text font */
/*mixin */
div#mainContainer div.contentBlock div.block1 {
  background-color: #445162;
  color: #ffffff;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block1 div.block1InBlock1 h1 {
    text-align: center;
  }
}
div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul {
  list-style-type: none;
  -webkit-padding-start: 34px;
     -moz-padding-start: 34px;
          padding-inline-start: 34px;
  margin-top: 50px;
  padding-left: 0;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul {
    max-width: 469px;
    display: block;
    margin: 20px auto 20px auto;
  }
}
div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul li {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
}
div#mainContainer div.contentBlock div.block1 div.block1InBlock1 ul li i {
  margin-right: 10px;
}
div#mainContainer div.contentBlock div.block1 div.block2InBlock1 div.imgContainer {
  max-width: 469px;
  max-height: 214px;
  float: right;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block1 div.block2InBlock1 div.imgContainer {
    float: none;
    margin: 0 auto;
  }
}
div#mainContainer div.contentBlock div.block1 div.block2InBlock1 div.imgContainer img {
  width: 100%;
}
div#mainContainer div.contentBlock div.block2Big {
  background-color: #ffffff;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block2Big {
    display: none;
  }
}
div#mainContainer div.contentBlock div.block2Big div.block1InBlock2 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  margin-bottom: 25px;
}
div#mainContainer div.contentBlock div.block2Big div.block1InBlock2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 15px;
}
div#mainContainer div.contentBlock div.block2Big div.block2InBlock2 div.videoContainer {
  max-width: 430px;
  max-height: 245px;
  float: right;
}
div#mainContainer div.contentBlock div.block2Big div.block2InBlock2 div.videoContainer img {
  width: 100%;
}
div#mainContainer div.contentBlock div.block2Small {
  background-color: #ffffff;
}
@media all and (min-width: 992px) {
  div#mainContainer div.contentBlock div.block2Small {
    display: none;
  }
}
div#mainContainer div.contentBlock div.block2Small div.block1InBlock2 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  margin-bottom: 25px;
}
div#mainContainer div.contentBlock div.block2Small div.block1InBlock2 div.videoContainer {
  max-width: 430px;
  max-height: 245px;
  float: right;
}
@media all and (max-width: 767px) {
  div#mainContainer div.contentBlock div.block2Small div.block1InBlock2 div.videoContainer {
    float: none;
    margin: 0 auto;
  }
}
div#mainContainer div.contentBlock div.block2Small div.block1InBlock2 div.videoContainer img {
  width: 100%;
}
div#mainContainer div.contentBlock div.block2Small div.block1InBlock2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 15px;
}
div#mainContainer div.contentBlock div.block3 {
  background-color: #f5f5f5;
  padding-bottom: 15px;
}
div#mainContainer div.contentBlock div.block3 div.block1InBlock3 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  margin-bottom: 25px;
  text-align: center;
}
div#mainContainer div.contentBlock div.block3 div.block1InBlock3 div.row div.media {
  margin-bottom: 35px;
}
div#mainContainer div.contentBlock div.block3 div.block1InBlock3 div.row div.media div.square {
  width: 32px;
  height: 32px;
  background-color: #445162;
  position: relative;
  margin-top: 6px;
  margin-right: 9px;
}
div#mainContainer div.contentBlock div.block3 div.block1InBlock3 div.row div.media div.square img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
div#mainContainer div.contentBlock div.block3 div.block1InBlock3 div.row div.media div.media-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 0;
}
div#mainContainer div.contentBlock div.block4 {
  background-color: #ffffff;
  padding-bottom: 20px;
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  text-align: center;
  margin-bottom: 35px;
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media {
  margin-bottom: 30px;
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.blockForImg4 {
  max-width: 200px;
  max-height: 150px;
  margin-right: 15px;
}
@media all and (max-width: 575px) {
  div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.blockForImg4 {
    margin: 0 auto;
  }
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.blockForImg4 img {
  width: 100%;
}
@media all and (max-width: 575px) {
  div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.media-body {
    display: none;
  }
}
@media all and (max-width: 576px) {
  div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.media-body {
    display: flex 1;
  }
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.media-body h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  color: #445161;
  margin-bottom: 10px;
}
div#mainContainer div.contentBlock div.block4 div.block1InBlock4 div.row div.media div.media-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}
div#mainContainer div.contentBlock div.block5 {
  background-color: #f5f5f5;
  padding-bottom: 26px;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  text-align: center;
  margin-bottom: 35px;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media {
  margin-bottom: 24px;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.circle {
  max-width: 75px;
  max-height: 75px;
  margin-right: 25px;
}
@media all and (max-width: 500px) {
  div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.circle {
    display: none;
  }
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.circle img {
  width: 100%;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.media-body {
  position: relative;
  background-color: #ebebeb;
  padding: 16px 20px 16px 20px;
  border-radius: 5px;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.media-body div.darkGreyCircle {
  position: absolute;
  left: -10px;
  top: 25px;
  background-color: #ebebeb;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media all and (max-width: 500px) {
  div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.media-body div.darkGreyCircle {
    display: none;
  }
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.media-body p.message {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #333333;
  margin-bottom: 15px;
}
div#mainContainer div.contentBlock div.block5 div.block1InBlock5 div.row div.media div.media-body p.signature {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #989898;
  margin-bottom: 0;
}
div#mainContainer div.contentBlock div.block6 {
  background-color: #ffffff;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  text-align: center;
  margin-bottom: 29px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn {
  padding: 0;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn:nth-child(2) {
  margin-right: 20px;
  margin-left: 20px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice {
  background-color: #445162;
  padding: 0;
  padding-bottom: 20px;
  border-radius: 5px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  color: #445161;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  margin-bottom: 0;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice div.price {
  background-color: #ffffff;
  text-align: center;
  border: 2px solid #445162;
  margin-bottom: 15px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice div.price p {
  line-height: 71px;
  font-size: 40px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 0;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice ol {
  -webkit-padding-start: 35px;
     -moz-padding-start: 35px;
          padding-inline-start: 35px;
  margin-bottom: 15px;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice ol li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
div#mainContainer div.contentBlock div.block6 div.block1InBlock6 div.row div.colomn div.row div.blockPrice button {
  display: block;
  width: calc(100% - 40px);
  background-color: #ffffff;
  color: #445161;
  margin: 0 auto;
  font-weight: bold;
}
div#mainContainer div.contentBlock div.block7 {
  background-color: #445162;
}
div#mainContainer div.contentBlock div.block7 div.block1InBlock7 h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  color: #445161;
  text-align: center;
  color: #ffffff;
  margin-bottom: 31px;
}
@media all and (max-width: 360px) {
  div#mainContainer div.contentBlock div.block7 div.block2InBlock7 form div.form-group div.input-group div.input-group-prepend {
    display: none;
  }
}
@media all and (max-width: 360px) {
  div#mainContainer div.contentBlock div.block7 div.block2InBlock7 form div.form-group div.input-group input.form-control {
    border-radius: 0.25rem;
  }
}
div#mainContainer div.contentBlock div.block7 div.block2InBlock7 form div.form-group div.input-group textarea#messageTextarea {
  min-height: 170px;
}
div#mainContainer div.contentBlock div.block7 div.block2InBlock7 form button {
  display: block;
  width: 140px;
  background-color: #ffffff;
  color: #445161;
  margin: 21px auto 0 auto;
  font-weight: bold;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.social {
    text-align: center;
  }
}
div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.social p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  color: #ffffff;
  margin-bottom: 25px;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.social p {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}
div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.social i {
  width: 30px;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.socialIcon {
    text-align: center;
  }
}
div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.socialIcon a {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border-radius: 45px;
  text-align: center;
}
@media all and (max-width: 991px) {
  div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.socialIcon a {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
  }
}
div#mainContainer div.contentBlock div.block7 div.block3InBlock7 div.socialIcon a i {
  color: #445162;
  line-height: 34px;
}
div#mainContainer div.contentBlock footer#footerOnPage {
  background-color: #f5f5f5;
}
div#mainContainer div.contentBlock footer#footerOnPage div.blockInFooter {
  text-align: center;
}
div#mainContainer div.contentBlock footer#footerOnPage div.blockInFooter p {
  margin-bottom: 0;
}
